/* Dark Studio Official Theme (dark_studio.css) */
window {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

.title-app {
    color: #89b4fa;
}

button {
    background-color: #3182ce;
    color: #ffffff;
}
